@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  font-family: "Exo 2", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
body.overlayed {
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
  transition: all ease 0.4s;
  color: #06e8d2;
}
a:hover {
  color: #06e8d2;
}

p {
  font-family: "Exo 2", sans-serif;
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

/*---- COLORS -----*/
.teal {
  color: #06e8d2;
}

.yellow {
  color: #fff200;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.bg-dark {
  background-color: #2a3248;
}

/*---- TITLES -----*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Exo 2", sans-serif;
  text-align: center;
}

.featured-title {
  background-image: linear-gradient(to right, #06e8d2, #fff200 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  font-style: italic;
  margin: 0 0 2rem;
}
.featured-title.framed {
  background: url(../img/bg-featured-title.png) no-repeat;
  background-position: right bottom;
  display: inline-block;
}
.featured-title.framed span {
  display: inline-block;
  border-top: none;
  border-left: none;
  padding: 0 1.3rem 1.3rem;
  background-position: right bottom;
  background-image: linear-gradient(to right, #06e8d2, #fff200 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  color: yellow;
  font-style: italic;
  font-size: 1.31rem;
  margin: 0 auto 1rem;
}

ul.list-bitel {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.list-bitel li {
  display: flex;
  margin-bottom: 0.8rem;
}
ul.list-bitel li:before {
  content: url(../img/icon-bitel-coin.svg);
  filter: brightness(0) invert(1);
  position: relative;
  top: 0.2rem;
  font-style: normal;
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.8rem;
}

button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
}

/*---- LAYOUT -----*/
.hide {
  display: none !important;
}

.page {
  background: #2a3248 url(../img/bg-page-top.png) no-repeat;
  background-position: center top;
  background-size: 100% auto;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.page:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/bg-page-bottom.png) no-repeat;
  background-position: center calc(100% - 130px);
  background-size: 100%;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
}
@media (min-width: 768px) {
  .page:after {
    display: none;
  }
}
.page.homepage {
  background-image: url(../img/bg-page-top-flip.png);
  background-position: center 13rem;
}
@media (min-width: 768px) {
  .page.homepage {
    background-position: center top;
    background-image: url(../img/bg-page-top.png);
  }
}

.bitel-bg {
  background: #2a3248 url(../img/bg-page-top.png) no-repeat;
  background-position: center top;
  background-size: 100% auto;
  position: relative;
}
.bitel-bg:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/bg-page-bottom.png) no-repeat;
  background-position: center calc(100% + 25px);
  background-size: 100%;
  bottom: 0;
  z-index: -1;
}

.bitel-bg-topglow {
  background: #2a3248 url(../img/bg-hl-popup.png) no-repeat;
  background-position: center top;
  background-size: 100%;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
@media (min-width: 768px) {
  .container.container-alt {
    max-width: 768px;
  }
}
.container.container-sm {
  max-width: 400px;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-1-5 {
  margin-bottom: 1.5rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
  display: block;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-1-5 {
  margin-top: 1.5rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
  display: block;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.pb-6 {
  padding-bottom: 6rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
  display: block;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.pt-6 {
  padding-top: 6rem !important;
}

.grid {
  display: grid;
}
.grid.rewards-grid {
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 1.3rem;
}

.cta-fixed {
  position: fixed;
  padding: 0rem 1rem 1rem;
  z-index: 50;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.cta-fixed .btn-cta {
  min-width: 150px;
  width: 100%;
  max-width: 216px;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 101;
  padding: 0.5rem;
}

.gradient-overlay {
  position: fixed;
  height: 6rem;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95) 100%);
  bottom: 0;
  z-index: 40;
  pointer-events: none;
}

.icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon.icon-bitel-coin-2 {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  top: 1.2rem;
  background-image: url(../img/icon-bitel-coin-2.svg);
}

.with-coin {
  position: relative;
}
.with-coin:after {
  content: "";
  width: 1.17em;
  height: 1.17rem;
  background: url(../img/icon-bitel-coin-3.svg) no-repeat;
  background-size: contain;
  display: inline-block;
  position: relative;
  top: 0.29em;
  margin-left: 0.4em;
}

.btn {
  border: none;
  background-color: transparent;
  transition: all ease 0.4s;
  font-family: "Exo 2", sans-serif;
}
.btn:focus {
  outline: none;
}

.btn-cta {
  font-weight: 700;
  font-size: 1rem;
  color: #202f44;
  border: 1px solid yellow;
  border-radius: 2rem;
  padding: 0.2rem;
  min-width: 210px;
  display: block;
  margin: 0 auto;
}
.btn-cta .content {
  display: block;
  background-color: #fff200;
  border-radius: 2rem;
  padding: 0.9rem;
  transition: all ease 0.4s;
}
.btn-cta:hover {
  border-color: #fff;
}
.btn-cta:hover .content {
  background-color: #fff;
}
.btn-cta.btn-cta-outline {
  padding: 1rem;
  color: #fff200;
}
.btn-cta.btn-cta-outline:hover {
  color: #fff;
}
.btn-cta.btn-cta-outline.btn-teal {
  border-color: #06e8d2;
  color: #06e8d2;
}
.btn-cta.btn-cta-outline.btn-teal:hover {
  color: #fff;
  border-color: #fff;
}
.btn-cta.btn-cta-fill {
  padding: 1rem;
  background-color: #fff200;
  color: #202f44;
}
.btn-cta.btn-cta-fill:hover {
  background-color: #fff;
}
.btn-cta.btn-cta-icon .text {
  position: relative;
  left: 1.2rem;
}
.btn-cta.btn-cta-icon .text:before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  left: -2.2rem;
  top: -0.1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.btn-cta.btn-cta-icon.btn-icon-coin .text:before {
  background-image: url(../img/icon-bitel-coin-3.svg);
}
.btn-cta.btn-cta-icon.btn-icon-view .text:before {
  background-image: url(../img/icon-emoji-eyes.png);
  width: 1.9rem;
  left: -2.6rem;
}
.btn-cta.btn-cta-icon.btn-icon-premium .text:before {
  background-image: url(../img/icon-crown-premium.svg);
  width: 1.5rem;
  height: 1.5rem;
  left: -2.3rem;
}

.btn-close-popup {
  font-size: 1rem;
  width: 2.4em;
  height: 2.4em;
  background: white;
  border-radius: 50px;
  position: relative;
  transform: rotate(45deg);
  flex-shrink: 0;
}
.btn-close-popup:after, .btn-close-popup:before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 1.2em;
  top: 0.6em;
  left: calc(1.2em - 1px);
  background: #00a5b1;
  transition: all ease 0.4s;
}
.btn-close-popup:after {
  transform: rotate(90deg);
}
.btn-close-popup:hover:after, .btn-close-popup:hover:before {
  background-color: #2a3248;
}
.btn-close-popup.sm {
  font-size: 0.7rem;
}

.btn-plan {
  color: #fff;
  display: flex;
  width: 300px;
  height: 80px;
  align-items: center;
  font-style: italic;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-image: url(../img/btn-plan-day.png);
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.25));
  position: relative;
}
.btn-plan:after {
  content: "";
  background: url(../img/icon-arrow-circle.png) no-repeat;
  background-size: cover;
  width: 1.2rem;
  height: 1.2rem;
  right: 0rem;
  top: calc(50% - 0.6rem);
  display: block;
  position: absolute;
  transition: all ease 0.3s;
}
.btn-plan .left {
  width: 70%;
  padding-left: 1.6rem;
  font-weight: 500;
}
.btn-plan .right {
  padding-left: 0.5rem;
  width: 30%;
}
.btn-plan .title {
  text-align: left;
  margin: 0;
  font-weight: 800;
  font-style: italic;
}
.btn-plan .ammount {
  font-size: 0.9375rem;
}
.btn-plan .ammount strong:after {
  content: url(../img/icon-bitel-coin-2.svg);
  display: inline-block;
  position: relative;
  bottom: -0.95rem;
  margin: -1.1rem -0.28rem 0 -0.3rem;
}
.btn-plan .price {
  font-weight: 800;
  font-size: 1rem;
  color: #fff200;
}
.btn-plan .inc {
  font-size: 0.9em;
}
.btn-plan.plan-week {
  background-image: url(../img/btn-plan-week.png);
}
.btn-plan.plan-month {
  background-image: url(../img/btn-plan-month.png);
}
.btn-plan:hover {
  filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.25)) brightness(110%);
  color: #fff;
}
.btn-plan:hover:after {
  right: -0.5rem;
}

.btn-next-step {
  display: block;
  padding: 0.8rem 4rem 0.8rem 5rem;
  color: #fff;
  width: 300px;
  height: 83px;
  font-size: 0.9375rem;
  font-weight: 500;
  font-style: italic;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background-image: url(../img/btn-next-step-1.png);
  background-size: cover;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.25));
  position: relative;
}
.btn-next-step.step-2 {
  background-image: url(../img/btn-next-step-2.png);
}
.btn-next-step.step-3 {
  background-image: url(../img/btn-next-step-3.png);
}
.btn-next-step:hover {
  filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.25)) brightness(110%);
  color: #fff;
}

.btn-buy-pack {
  display: flex;
  align-items: center;
  color: #fff;
  background-image: url(../img/btn-buy-pack.png);
  background-size: cover;
  width: 295px;
  height: 60px;
  padding: 0.3rem 2rem 0.3rem 1rem;
  font-size: 1.125rem;
  font-weight: 800;
  font-style: normal;
  margin-bottom: 2rem;
  position: relative;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.25));
  position: relative;
}
.btn-buy-pack:after {
  content: "";
  background: url(../img/icon-arrow-circle.png) no-repeat;
  background-size: cover;
  width: 1.2rem;
  height: 1.2rem;
  right: 0;
  top: calc(50% - 0.6rem);
  display: block;
  position: absolute;
  transition: all ease 0.3s;
}
.btn-buy-pack .oval {
  border-radius: 4rem;
  width: 100%;
  display: block;
}
.btn-buy-pack .left {
  display: flex;
  width: 50%;
}
.btn-buy-pack .left .oval {
  border: 1px solid #202f44;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.9rem;
}
.btn-buy-pack .left .name {
  color: #202f44;
}
.btn-buy-pack .left .price {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4em;
  background-image: radial-gradient(circle at 100% 0, #435c79, #202f44);
  text-align: center;
  width: 2.1em;
  height: 2.1em;
  color: #fff200;
}
.btn-buy-pack .center {
  margin: 0 0.5rem;
  font-size: 20px;
  color: #202f44;
}
.btn-buy-pack .right {
  width: 50%;
}
.btn-buy-pack .right .oval {
  max-width: 100px;
  background-image: radial-gradient(circle at 100% 0, #435c79, #202f44);
  padding: 0.5em 0.7em 0.5em 1.2em;
}
.btn-buy-pack .right .ammount {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.btn-buy-pack .right .ammount:after {
  top: 0.13rem;
}
.btn-buy-pack:hover {
  filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.25)) brightness(110%);
  color: #fff;
}
.btn-buy-pack:hover:after {
  right: -0.5rem;
}

.btn-remove {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  background: url(../img/btn-remove.svg) no-repeat;
  background-size: contain;
}
.btn-remove:hover {
  transform: scale(1.2);
}

.btn-view {
  display: inline-block;
  width: 1.5rem;
  height: 1rem;
  background: url(../img/icon-eye.svg) no-repeat;
  background-position: center;
  background-size: 17px 12px;
}
.btn-view:hover {
  transform: scale(1.2);
}

.bet-value {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  background-color: #fff;
  padding: 0.15rem 0.5rem;
  border-radius: 1rem;
  min-width: 50px;
  font-weight: 700;
  color: #323d59;
  font-size: 15px;
  text-align: center;
}
.bet-value span {
  display: flex;
  align-items: center;
}
.bet-value span:after {
  content: "";
  width: 0.9rem;
  height: 0.9rem;
  background: url(../img/icon-bet-coin.svg) no-repeat;
  background-size: 100%;
  background-position: center;
  display: inline-block;
  border-radius: 1rem;
  margin-left: 0.2rem;
  margin-right: -0.25rem;
}

.tip:after {
  content: "";
  font-size: 0.5rem;
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  border: 1px dotted #54648f;
  border-left: none;
  border-top: none;
  top: calc(-0.5em - 1px);
  left: calc(50% - 0.5em);
  transform: rotate(45deg);
  background-color: #2a3248;
}

.notice {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.4rem 1rem 1rem;
  border-radius: 8px;
  font-size: 0.75rem;
  text-align: center;
  font-style: normal;
}
.notice .with-coin:after {
  margin: 0 0.4em 0 0.3em;
  top: 0.5em;
}
.notice .text {
  margin-bottom: 0.4rem;
}
.notice a {
  font-size: 13px;
  color: #06e8d2;
  text-decoration: underline;
}
.notice a:hover {
  color: #fff;
}

.table {
  font-style: normal;
  width: 100%;
  font-size: 12px;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  border: none;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
.table thead {
  border-bottom: 1px solid #1f2535;
}
.table th, .table td {
  text-align: center;
  vertical-align: middle;
}
.table th {
  font-weight: 600;
  padding: 0.55rem;
  border: none !important;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.2);
}
.table td {
  font-weight: 500;
  padding: 0.3rem;
  background-color: rgba(255, 255, 255, 0.1);
}
.table td:not(:last-child) {
  border-right: 1px solid #1f2535;
}
.table .with-coin {
  position: relative;
  top: -0.25em;
}
.table .with-coin:after {
  font-size: 0.85em;
  width: 1em;
  top: 0.8em;
}
.table.table-bet-details {
  border-radius: 0;
  border-spacing: 0px 2px;
  border-collapse: separate;
}
.table.table-bet-details td {
  text-align: left;
  padding: 0.55rem 0.8rem;
}
.table.table-bet-details td:not(:last-child) {
  border: none;
}

.logoname {
  color: #687eb9;
  display: flex;
  align-items: center;
}
.logoname .logo {
  width: 1.4375rem;
  height: 1.4375rem;
  flex-shrink: 0;
  margin-right: 0.8rem;
}
.logoname .name {
  margin: 0;
  text-align: left;
  font-size: 0.8125rem;
}
.logoname .name .league {
  font-size: 0.6875rem;
  font-weight: 500;
  display: block;
}

.game-results {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 2.3rem;
  margin-top: 0.45rem;
}
.game-results .name {
  padding-right: 1rem;
}
.game-results .result {
  display: block;
}
.game-results .ammount .with-coin {
  font-size: 0.8125rem;
}
.game-results .ammount .with-coin:after {
  font-size: 0.7rem;
  top: 0.55em;
}

#header {
  padding: 0.53rem 0.6rem;
  background-image: radial-gradient(circle at 50% 0, #54648f, rgba(0, 0, 0, 0) 29%);
}
@media (min-width: 768px) {
  #header {
    padding: 0.8rem 1rem;
  }
}
#header.header-transparent {
  background: none;
}
#header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header figure.logo {
  margin: 0;
  width: 80px;
}
@media (min-width: 768px) {
  #header figure.logo {
    width: 94px;
  }
}
#header figure.logo img {
  width: 100%;
  display: block;
}

#menu-toggler {
  width: 44px;
  height: 44px;
  background: url(../img/icon-toggler.svg) no-repeat;
  background-size: 22px;
  background-position: center;
  cursor: pointer;
}
#menu-toggler:hover {
  filter: brightness(10);
}

.user-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}
.user-link .user-icon {
  background-image: url(../img/icon-user.svg);
  width: 22px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all ease 0.4s;
}
.user-link .user-icon.user-free {
  background-image: url(../img/icon-user-free.svg);
  width: 22px;
  height: 20px;
}
.user-link .user-icon.user-premium {
  width: 28px;
  height: 28px;
  background-image: url(../img/icon-user-premium.svg);
}
.user-link .user-icon:hover {
  transform: scale(1.1);
}

.page-footer {
  bottom: 0;
  padding: 0 1rem;
}
.page-footer .content {
  border-top: 1px solid #54648f;
  padding: 1.5rem 0 1.7rem;
}
@media (min-width: 768px) {
  .page-footer .content {
    display: flex;
  }
}
.page-footer .top {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1.3rem;
}
@media (min-width: 768px) {
  .page-footer .top {
    margin-right: 3rem;
  }
}
.page-footer .footer-logo {
  flex-shrink: 0;
  width: 3.25rem;
  margin-right: 4.3rem;
}
.page-footer .footer-logo a {
  display: block;
  filter: brightness(0) invert(1);
  transition-duration: 0.2;
}
.page-footer .footer-logo a:hover {
  filter: none;
}
.page-footer .footer-logo img {
  display: block;
}
.page-footer .arrow-link {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
}
.page-footer .arrow-link:before {
  content: "";
  position: relative;
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border: 1.5px solid #fff;
  border-left: none;
  border-bottom: none;
  margin-right: 0.4em;
  transform: rotate(45deg);
  bottom: 0.06em;
  transition: all ease 0.4s;
}
.page-footer .arrow-link:hover {
  color: #06e8d2;
}
.page-footer .arrow-link:hover:before {
  border-color: #06e8d2;
}

ul.social-menu {
  display: flex;
}
ul.social-menu li:not(:last-child) {
  margin-right: 1.2rem;
}
ul.social-menu li a {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-position: center;
}
ul.social-menu li a.icon-fb {
  background-image: url(../img/social-icon-fb.svg);
}
ul.social-menu li a.icon-ig {
  background-image: url(../img/social-icon-ig.svg);
}
ul.social-menu li a.icon-yt {
  background-image: url(../img/social-icon-yt.svg);
}
ul.social-menu li a:hover {
  opacity: 0.5;
}

#btn-btt {
  position: fixed;
  bottom: 1.5rem;
  right: 0.6rem;
  z-index: 10;
  width: 3.7rem;
  height: 3.7rem;
  background: url(../img/btn-btt.svg) no-repeat;
  background-size: contain;
  background-position: center top;
  opacity: 1;
  transition: all ease 0.5s;
}
#btn-btt:hover {
  height: 4.1rem;
  filter: brightness(113%);
}

.slider .slide {
  overflow: hidden;
  border-radius: 0 0 46px 46px;
}
.slider .slide > a {
  display: block;
}
.slider .slide > a > img {
  width: 100%;
  display: block;
}

.slider-promo {
  max-width: 800px;
  margin: 0 auto;
}
.slider-promo .slick-dots {
  bottom: -2.5rem;
}

.slider-ring .slick-arrow, .slider-circle .slick-arrow {
  z-index: 6;
  left: calc(100% - 1.8rem);
}
.slider-ring .slick-arrow:before, .slider-circle .slick-arrow:before {
  content: "";
  background-color: red;
  width: 2.375rem;
  height: 38px;
  display: inline-block;
  position: relative;
  transition: all ease 0.4s;
  background: url(../img/btn-arrow-slider.png) no-repeat;
  background-size: cover;
}
.slider-ring .slick-arrow.slick-prev, .slider-circle .slick-arrow.slick-prev {
  left: -0.03rem;
  transform: scaleX(-1);
}

.slider-ring {
  max-width: 17rem;
  margin: 0 auto;
  padding-bottom: 1.4rem;
}
.slider-ring .step-figure {
  margin: 0 auto 2rem;
}
.slider-ring .number {
  width: 3.125rem;
  height: 3.125rem;
  margin: 0 auto 1.4rem;
}
.slider-ring .subtitle {
  font-weight: 500;
  margin-bottom: 1.3rem;
}
.slider-ring p {
  max-width: 16.25rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .slider-ring p {
    max-width: 20rem;
  }
}
.slider-ring .slick-arrow {
  top: 7.8rem;
}
.slider-ring .slick-arrow.slick-prev {
  top: 7.1rem;
}

.slider-circle {
  max-width: 250px;
  margin: 0 auto;
}
.slider-circle .slide-content {
  padding: 0 0 1.5rem;
  max-width: 15rem;
}
.slider-circle figure {
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
}
.slider-circle .slick-arrow {
  top: 7rem;
}
.slider-circle .slick-arrow.slick-prev {
  top: 6.38rem;
}
.slider-circle.slider-plans .circle-plan {
  margin-bottom: 1.5rem;
}
.slider-circle.slider-packs .circle-pack {
  margin-bottom: 1.5rem;
}

.circle-plan {
  background-repeat: no-repeat;
  background-size: contain;
  width: 240px;
  height: 240px;
  text-align: center;
  padding: 2.3rem 0 0;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  font-weight: 800;
  font-size: 1.3125rem;
}
.circle-plan .title {
  font-size: 1.3125rem;
  margin: 0 0 16px;
}
.circle-plan .ammount {
  font-size: 1.3125rem;
  margin-bottom: 4px;
}
.circle-plan .ammount:after {
  width: 1.3em;
  height: 1.3em;
  margin-left: 0.5em;
}
.circle-plan .time {
  font-weight: 500;
  margin-bottom: 27px;
}
.circle-plan .price {
  color: #fff200;
}
.circle-plan .price .tax {
  display: block;
  color: #fff;
}
.circle-plan.plan-day {
  background-image: url(../img/bg-plan-day.png);
}
.circle-plan.plan-week {
  background-image: url(../img/bg-plan-week.png);
}
.circle-plan.plan-month {
  background-image: url(../img/bg-plan-month.png);
}

.circle-pack {
  background-repeat: no-repeat;
  background-size: contain;
  width: 240px;
  height: 240px;
  text-align: center;
  padding: 42px 0 0;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  font-weight: 800;
  background-image: url(../img/bg-pack-coins.png);
}
.circle-pack .title {
  font-size: 1.3125rem;
  margin: 0 0 29px;
}
.circle-pack .ammount {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.circle-pack .ammount:after {
  width: 1.3em;
  height: 1.3em;
  margin-left: 0.5em;
}
.circle-pack .price {
  font-size: 1.75rem;
  color: #fff200;
}

.main-tabs-wrapper {
  background-color: #323d59;
  border-radius: 20px;
  padding: 0.4rem;
  box-shadow: 0 16px 70px rgba(0, 0, 0, 0.9411764706);
}

.main-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7rem;
}
.main-tabs button.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #54648f;
  height: 30px;
  color: #2a3248;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0 1rem;
  width: calc(50% - 0.1rem);
  border: 1px solid transparent;
}
.main-tabs button.tab:hover {
  background-color: #6d7da9;
}
.main-tabs button.tab.active {
  background-color: #fff;
}
.main-tabs button.tab .icon {
  margin-right: 0.4rem;
  width: 30px;
  height: 26px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.main-tabs button.tab .icon-esports {
  background-image: url(../img/icon-tab-esports.png);
}
.main-tabs button.tab .icon-futbol {
  background-image: url(../img/icon-tab-futbol.png);
}

.main-tabs-content {
  padding: 0 0.25rem;
  display: none;
}
.main-tabs-content.active {
  display: block;
}

/*---- ESPORTS TABS ---*/
.esports-tabs {
  display: flex;
  margin-bottom: 1.4rem;
}
.esports-tabs button.tab {
  width: 100%;
  padding: 0.7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #54648f;
  position: relative;
}
.esports-tabs button.tab:hover .icon {
  filter: invert(0) brightness(150) saturete(0);
  opacity: 0.5;
}
.esports-tabs button.tab:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  bottom: -6px;
  transition: all ease 0.4s;
}
.esports-tabs button.tab .icon {
  width: 30px;
  height: 30px;
  background: url(../img/logos-esports.png) no-repeat;
  background-size: cover;
  opacity: 0.25;
  transition: all ease 0.4s;
  filter: sepia(100%) saturate(300%) hue-rotate(191deg);
}
.esports-tabs button.tab .icon-2 {
  background-position: calc(-30px * 1) 0;
}
.esports-tabs button.tab .icon-3 {
  background-position: calc(-30px * 2) 0;
}
.esports-tabs button.tab .icon-4 {
  background-position: calc(-30px * 3) 0;
}
.esports-tabs button.tab .icon-5 {
  background-position: calc(-30px * 4) 0;
}
.esports-tabs button.tab.active {
  border-color: white;
}
.esports-tabs button.tab.active:after {
  border-top-color: #fff;
}
.esports-tabs button.tab.active .icon {
  opacity: 1;
  filter: none;
}

/*---- FUTBOL TABS ---*/
.tab-list {
  max-width: 500px;
  margin: 0 auto;
}
.tab-list .options-wrapper {
  display: flex;
  padding-bottom: 6px;
}
.tab-list button.tab {
  flex-shrink: 0;
  position: relative;
  color: #54648f;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  padding: 1rem 0.7rem;
  border-bottom: 1px solid transparent;
  border-bottom: 1px solid #54648f;
}
.tab-list button.tab:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  bottom: -6px;
  left: calc(50% - 3px);
  transition: all ease 0.4s;
}
.tab-list button.tab:focus {
  outline: none;
}
.tab-list button.tab:hover {
  color: #06e8d2;
}
.tab-list button.tab.active {
  color: #fff;
  border-color: white;
}
.tab-list button.tab.active:after {
  border-top-color: #fff;
}

.tab-list-slider {
  position: relative;
  transition: all ease 0.3s;
}
.tab-list-slider .more {
  position: absolute;
  display: none;
  justify-content: flex-end;
  align-items: center;
  pointer-events: none;
  width: 3rem;
  height: calc(100% - 8px);
  right: 0;
  top: 0;
  background-image: linear-gradient(to right, rgba(50, 61, 89, 0), #323d59 78%);
  transition: all ease 0.4s;
}
.tab-list-slider .more .btn {
  pointer-events: all;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  width: 40px;
  height: 40px;
  padding: 0;
}
.tab-list-slider .more .btn:after {
  content: "";
  display: block;
  border: 1px solid white;
  border-left: none;
  border-bottom: none;
  margin-right: 7px;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  transition: all ease 0.4s;
}
.tab-list-slider .more .btn:hover:after {
  border-color: #fff200;
}
.tab-list-slider .tabs-scroll {
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.tab-list-slider .tabs-scroll::-webkit-scrollbar {
  display: none;
}
.tab-list-slider .options-wrapper {
  width: max-content;
}

/*---- BLOCK TABS ----*/
.tabs-block {
  display: flex;
}
.tabs-block .tab {
  width: 100%;
  padding: 1rem;
  color: #53638e;
  border-radius: 8px 8px 0 0;
  position: relative;
}
.tabs-block .tab:hover {
  color: #06e8d2;
}
.tabs-block .tab.active {
  color: #fff;
  background-color: #252c40;
}
.tabs-block .tab.active:first-child:before, .tabs-block .tab.active:last-child:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: inherit;
  top: 100%;
}
.tabs-block .tab.active:first-child:before {
  left: 0;
}
.tabs-block .tab.active:last-child:before {
  right: 0;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}

.tabs-block-contents {
  background-color: #252c40;
  padding: 0.65rem 0.65rem 1rem 0.65rem;
  border-radius: 10px;
  min-height: 3rem;
}

.fake-tab {
  text-align: left;
}
.fake-tab header.ft-header {
  padding: 0.5rem 0.6rem;
  border-radius: 8px 8px 0 0;
  background-color: #252c40;
  font-size: 0.875rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
  min-width: 5.625rem;
  display: inline-block;
}
.fake-tab .ft-content {
  padding: 0.8rem 1rem 1.1rem;
  border-radius: 0 8px 8px 8px;
  background-color: #252c40;
}

#bets.modal-wrapper .btn-close-popup {
  margin-bottom: 0.1rem;
}
#bets.modal-wrapper .modal > .content {
  padding-top: 0;
  padding-bottom: 5.5rem;
}

#bets-tabs button.tab {
  padding-top: 0;
  width: 50%;
}

.bets-tabs-content {
  display: none;
}
.bets-tabs-content.active {
  display: block;
}

.bets-tabs-content {
  padding: 0.8rem 0.2rem;
}
.bets-tabs-content .gradient-overlay {
  left: 0;
}
.bets-tabs-content .cta-fixed {
  left: 0;
}

.game-info {
  border: 1px solid #54648f;
  border-radius: 10px;
  padding: 0.9rem 0.9rem 0.5rem;
  font-style: normal;
  margin-bottom: 1.3rem;
}
.game-info header {
  display: flex;
  padding: 0.9rem 0 0.7rem;
  justify-content: space-between;
  align-items: center;
}
.game-info header .btn-remove {
  flex-shrink: 0;
}
.game-info section {
  border-top: 1px dotted #54648f;
  font-size: 15px;
  position: relative;
}
.game-info section.tip:after {
  font-size: 0.8rem;
  left: 2.5rem;
}
.game-info section.winner {
  padding: 1rem 0 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.game-info section.winner .tag {
  color: #06e8d2;
  display: block;
  font-weight: 500;
}

.your-bet-values {
  display: flex;
  background-color: #1f2535;
  border: 1px solid #54648f;
  border-radius: 10px;
  font-style: normal;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 1.3rem;
  text-align: center;
}
.your-bet-values > div {
  padding: 1rem 0.9rem 1.2rem;
  width: 50%;
}
.your-bet-values > div .number {
  font-weight: 700;
}
.your-bet-values .left {
  border-right: 1px dotted #54648f;
}
.your-bet-values .left .number {
  font-size: 1rem;
  background: #54648f;
  border-radius: 5px;
  display: block;
  padding: 0.4rem 0.3rem;
  max-width: 50px;
  margin: 0.4rem auto 0;
}
.your-bet-values .left .number:after {
  position: absolute;
  width: 0.94rem;
  height: 0.94rem;
  top: 0.5em;
  margin-left: 1.2rem;
}
.your-bet-values .right .number {
  display: block;
  color: #fff200;
  font-size: 1.25rem;
  margin-top: 0.7rem;
}
.your-bet-values .right .number:after {
  width: 0.94rem;
  height: 0.94rem;
  top: 0;
}

#your-bets .table:not(:last-child) {
  margin-bottom: 1rem;
}

ul.bet-list {
  list-style: none;
  padding: 0;
}

/*---- GENERAL ELEMENTS FOR TABS ---*/
header.bet-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.4rem;
}
header.bet-heading .bet-title {
  font-size: 12px;
  margin: 0;
  color: white;
  font-weight: 500;
}
header.bet-heading .bet-status {
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.bet-item.status-closing header.bet-heading .bet-status {
  color: #efd146;
}
.bet-item.status-closing button.bet-team:not(.bet-tie) {
  border-color: #fff200;
}
.bet-item.status-closed header.bet-heading .bet-status {
  color: #ff5454;
}
.bet-item.status-closed button.bet-team {
  background: #4d5772;
  pointer-events: none;
}
.bet-item:not(.status-closed) button.bet-team:hover {
  filter: brightness(113%);
}

/*---- ESPORTS BET LIST ----*/
ul.bet-list-esports .bet-item {
  margin-bottom: 1.8rem;
}
ul.bet-list-esports .bet-options {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-color: transparent;
  border-radius: 6px;
  box-sizing: content-box;
}
ul.bet-list-esports button.bet-team {
  background: linear-gradient(#06e8d2, #00a5b1);
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
  transform: skew(-30deg);
  min-height: 58px;
}
ul.bet-list-esports button.bet-team .content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: skew(30deg);
}
ul.bet-list-esports button.bet-team .name {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  color: white;
}
ul.bet-list-esports button.bet-team:first-child {
  margin: 0 0 0 -2rem;
  margin-right: 0.15rem;
}
ul.bet-list-esports button.bet-team:first-child .content {
  padding: 0.4rem 0.6rem 0.4rem 2.2rem;
}
ul.bet-list-esports button.bet-team:first-child .content .value {
  margin: 0 0 0 0.4rem;
}
ul.bet-list-esports button.bet-team:last-child {
  margin: 0 -2rem 0 0;
  margin-left: 0.15rem;
}
ul.bet-list-esports button.bet-team:last-child .content {
  padding: 0.4rem 2.3rem 0.4rem 0.4rem;
}
ul.bet-list-esports button.bet-team:last-child .content .name {
  text-align: right;
}
ul.bet-list-esports button.bet-team:last-child .content .value {
  margin: 0 0.4rem 0 0;
}
ul.bet-list-esports button.bet-team:after {
  transform: skew(30deg);
}
ul.bet-list-esports .bet-item.status-closing .bet-options {
  padding-bottom: 1px;
  border-color: #fff200;
}

/*---- FUTBOL BET LIST ----*/
ul.bet-list-futbol .bet-item {
  margin-bottom: 1.8rem;
}
ul.bet-list-futbol header.bet-heading .league {
  display: flex;
  align-items: center;
}
ul.bet-list-futbol header.bet-heading .league img {
  width: 17px;
  flex-shrink: 0;
  margin-right: 0.5rem;
}
ul.bet-list-futbol .bet-options {
  display: flex;
  justify-content: space-between;
}
ul.bet-list-futbol button.bet-team {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 5;
  width: 100%;
  background: linear-gradient(#06e8d2, #00a5b1);
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  border-radius: 8px;
  flex-grow: 0;
  border: 1px solid transparent;
}
ul.bet-list-futbol button.bet-team:first-child {
  margin-right: -1.2rem;
  text-align: left;
  align-items: flex-start;
  padding: 0.5rem 1.4rem 0.5rem 0.6rem;
}
ul.bet-list-futbol button.bet-team:first-child .logo-name img {
  margin-right: 0.4rem;
}
ul.bet-list-futbol button.bet-team:last-child {
  margin-left: -1.2rem;
  text-align: right;
  align-items: flex-end;
  padding: 0.5rem 0.6rem 0.5rem 1.4rem;
}
ul.bet-list-futbol button.bet-team:last-child .logo-name img {
  margin-left: 0.4rem;
}
ul.bet-list-futbol button.bet-team .logo-name {
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
}
ul.bet-list-futbol button.bet-team .logo-name img {
  width: 20px;
  display: block;
}
ul.bet-list-futbol button.bet-team .name {
  margin: 0;
  max-width: 8rem;
}
ul.bet-list-futbol button.bet-team.selected {
  background: radial-gradient(#d166ff, #a436ff);
}
ul.bet-list-futbol button.bet-team.selected:after {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  background-color: #202f44;
  background-image: radial-gradient(circle at 0 0, #fff, #a436ff);
  bottom: -0.5rem;
  left: calc(50% - 0.5rem);
  pointer-events: none;
  border-radius: 1rem;
}
ul.bet-list-futbol button.bet-tie {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 87px;
  border: 3px solid #323d59;
  height: 87px;
  flex-shrink: 0;
  border-radius: 100px;
  z-index: 10;
  padding: 0.7rem;
}
ul.bet-list-futbol button.bet-tie .name {
  text-align: center;
  margin-bottom: 0.4rem;
}

/*---- BET SCORE ----*/
.bet-score {
  margin-top: -10px;
  background-color: #202f44;
  color: #fff;
  text-align: center;
  border-radius: 0 0 8px 8px;
  border: 1px dotted #54648f;
  border-top: none;
}
.bet-score header {
  padding: 1.3rem 1rem 0.6rem 1rem;
  border-bottom: 1px dotted #54648f;
  position: relative;
}
.bet-score header:after {
  content: "";
  font-size: 0.8rem;
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  border: 1px dotted #54648f;
  border-left: none;
  border-top: none;
  bottom: -0.6em;
  left: calc(50% - 0.5em);
  transform: rotate(45deg);
  background-color: #202f44;
}
.bet-score header p {
  font-weight: 500;
  margin: 0;
  font-size: 0.75rem;
}
.bet-score header p .ammount {
  color: #fff200;
  font-weight: 700;
  font-size: 1rem;
  margin-left: 0.3rem;
}
.bet-score header p .ammount:after {
  content: url(../);
  display: inline-block;
  position: relative;
  bottom: -0.14rem;
  left: 0.32rem;
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: #fff200;
  border-radius: 1rem;
}
.bet-score .content {
  padding: 0.9rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 576px) {
  .bet-score .content {
    justify-content: space-around;
  }
}
.bet-score .content p {
  font-weight: 300;
  font-size: 0.6875rem;
  margin: 0;
  padding: 0 0.5rem;
  max-width: 200px;
}
@media (min-width: 768px) {
  .bet-score .content p {
    max-width: 210px;
  }
}
.bet-score .content input[type=text] {
  flex-shrink: 0;
  color: #fff;
  max-width: 3rem;
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 0.3rem;
  border-radius: 5px;
  border: none;
  background-color: #54648f;
}

.popup-overlay {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
  transition: all ease 0.5s;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .popup-overlay {
    justify-content: center;
  }
}
.popup {
  text-align: center;
  color: white;
  z-index: 50;
  padding: 1.2rem 0 1.4rem;
}
.popup .btn-close-popup {
  margin-bottom: 1rem;
}

.popup-box {
  position: relative;
  min-height: 16rem;
  max-height: calc(100vh - 100px);
  background-color: #2a3248;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  padding: 2.7rem 1.2rem 2.5rem;
  border-radius: 20px;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  /*---- INFO POPUPS ----*/
}
.popup-box:not(.no-bg) {
  background-image: url(../img/bg-popup.png);
}
.popup-box:before {
  pointer-events: none;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg-hl-popup.png) no-repeat;
  background-size: contain;
  background-position: center top;
}
.popup-box.popup-with-header {
  padding-top: 1rem;
}
.popup-box header.popup-header {
  padding: 0.6rem 0 1.3rem;
}
.popup-box header.popup-header .title {
  font-size: 0.88rem;
  padding-bottom: 1rem;
  margin: 0;
  border-bottom: 1px dotted #54648f;
}
.popup-box header.popup-header .title.tip {
  position: relative;
}
.popup-box header.popup-header .title.tip:after {
  font-size: 0.75rem;
  bottom: -0.58em;
  top: auto;
}
.popup-box .content {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
.popup-box .content figure.popup-icon {
  max-width: 50px;
  margin: 0 auto;
}
.popup-box .content figure.popup-icon .popup-icon-top {
  margin-bottom: 10rem;
}
.popup-box .content .title {
  color: #fff200;
  font-style: italic;
  font-size: 1.25rem;
  margin-bottom: 0;
}
.popup-box .content .text {
  font-style: italic;
  font-weight: 500;
}
.popup-box .content small {
  font-style: italic;
}
.popup-box .content p {
  font-size: 0.9rem;
}
.popup-box .btn-cta {
  max-width: 260px;
  width: 100%;
}
.popup-box .options.two {
  display: flex;
}
.popup-box .options.two .btn-cta {
  min-width: auto;
}
.popup-box .options.two .btn-cta:first-child {
  margin-right: 0.6rem;
}
.popup-box.popup-scroll {
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
}
.popup-box.popup-scroll:after {
  content: "";
  position: absolute;
  height: 5rem;
  width: 100%;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 100%);
  z-index: 20;
  pointer-events: none;
  border-radius: 0 0 18px 18px;
}
.popup-box.popup-scroll .content {
  padding-right: 0.4rem;
  padding-bottom: 2.5rem;
  /* Handle */
}
.popup-box.popup-scroll .content::-webkit-scrollbar {
  width: 4px;
  transition: all ease 0.4s;
  border-radius: 2px;
}
.popup-box.popup-scroll .content::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.17);
}
.popup-box.popup-scroll .content::-webkit-scrollbar-thumb {
  background: rgba(6, 232, 210, 0.8);
  border-radius: 10px;
  transition: all ease 0.4s;
}
.popup-box.popup-scroll .content::-webkit-scrollbar-thumb:hover {
  background: #06e8d2;
}

.table-purchase-info {
  display: flex;
  background-color: #1f2535;
  border: 1px solid #54648f;
  border-radius: 10px;
  font-style: italic;
  text-align: left;
  font-size: 14px;
}
.table-purchase-info .left {
  padding: 1rem 0.4rem 1rem 0.7rem;
  border-right: 1px solid #54648f;
  width: 50%;
}
.table-purchase-info .right {
  padding: 1rem 0.7rem;
  width: 50%;
}
.table-purchase-info .heading {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0.3rem;
  text-align: left;
  letter-spacing: -0.005em;
}
.table-purchase-info .name {
  font-weight: 800;
}
.table-purchase-info .price {
  font-weight: 800;
  color: #fff200;
}

#login .popup-box {
  padding: 2rem 1rem 2.5rem;
}
#login .content {
  max-width: 250px;
  margin: 0 auto;
}
#login h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
#login .logo-bitel {
  display: block;
  margin: 0 auto 1.5rem;
  filter: brightness(0) invert(1);
  width: 4.9375rem;
}
#login .btn-register {
  width: 100%;
}

/*---- MODALS ----*/
.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 50;
  overflow-y: scroll;
  opacity: 0;
  display: none;
  transition: all ease 0.5s;
}

.modal {
  z-index: 50;
  display: flex;
  flex-direction: column;
  position: relative;
  font-style: italic;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  height: max-content;
}
@media (min-width: 768px) {
  .modal:after {
    display: none;
  }
}
.modal .btn-close-popup {
  align-self: flex-end;
  margin-right: 0.7rem;
  margin-top: 0.7rem;
}
.modal .title {
  font-weight: 500;
  font-size: 1rem;
  margin: 0 0 1.5rem 0;
}
.modal > .content {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;
  width: 100%;
}
.modal .content-wrapper {
  min-height: calc(100vh - 4rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal .content-wrapper > .content {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 2rem;
  width: 100%;
}
.modal.has-footer {
  padding: 0;
  padding-bottom: 0;
}
.modal.has-footer:after {
  bottom: 0;
  background-position: center calc(100% - 8.4rem);
}

#welcome .logo {
  max-width: 100px;
  margin: 0 auto 2rem;
}
#welcome p {
  text-align: center;
  margin-bottom: 1.4rem;
}
#welcome .buttons {
  max-width: 300px;
  margin: 0 auto;
}
#welcome .buttons .btn-next-step {
  margin-bottom: 1.3rem;
}

.form ::placeholder {
  color: rgba(210, 210, 210, 0.5);
  font-size: 14px;
}
.form input[type=text], .form input[type=password] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent !important;
  border: 1px solid #54648f;
  padding: 0.9rem;
  color: #fff;
  font-size: 1rem;
  border-radius: 10px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
#login-form a {
  color: white;
}
#login-form .btn-cta {
  width: 100%;
}
#login-form .btn-submit {
  margin-bottom: 1rem;
}
#login-form input.number {
  margin-bottom: 1rem;
}

ul.menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.menu li a {
  text-decoration: none;
}

#main-menu-wrapper {
  position: fixed;
  display: none;
  flex-direction: column;
  padding: 1.3rem;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(32, 47, 68, 0.97);
  z-index: 100;
  overflow-y: scroll;
  opacity: 0;
  transition: all ease 0.4s;
}
#main-menu-wrapper.active {
  left: 0;
}
#main-menu-wrapper .btn-close-popup {
  align-self: flex-end;
  flex-shrink: 0;
}

.main-nav {
  margin-top: 1.6rem;
}

ul#main-menu {
  padding-left: 2rem;
}
ul#main-menu li {
  font-size: 1.13rem;
  font-weight: 700;
}
ul#main-menu li a {
  display: flex;
  color: #fff;
  padding: 0.9rem 0.5rem;
  margin: 0.9rem 0;
  align-items: center;
  transition: all ease 0.4s;
}
ul#main-menu li a:hover {
  color: #06e8d2;
}
ul#main-menu li a .icon {
  width: 1.75rem;
  height: 1.75rem;
  filter: brightness(0) invert(1);
  background: url(../img/icon-menu.png) no-repeat;
  background-size: cover;
  display: block;
  margin-right: 0.6rem;
}
ul#main-menu li a .icon.icon-menu-bitel {
  background-position: -3.5rem center;
}
ul#main-menu li a .icon.icon-menu-user {
  background-position: -1.75rem center;
}
ul#main-menu li a .icon.icon-menu-premium {
  background-position: -5.25rem center;
}
ul#main-menu li a .icon.icon-menu-coin {
  background-position: -7rem center;
}
ul#main-menu li a .icon.icon-menu-reward {
  background-position: -8.75rem center;
}
ul#main-menu li a .icon.icon-menu-news {
  background-position: -10.5rem center;
}
ul#main-menu li a .icon.icon-menu-calendar {
  background-position: -12.25rem center;
}
ul#main-menu li.featured .text {
  background-image: linear-gradient(to right, #06e8d2, #fff200 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
ul#main-menu li.featured .icon {
  filter: none;
}
ul#main-menu li.current {
  position: relative;
}
ul#main-menu li.current:before {
  content: url("../");
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border: 1px solid #fff200;
  border-radius: 2rem;
  left: -12px;
  top: calc(50% - 6px);
}
ul#main-menu li.current a {
  color: #fff200;
}
ul#main-menu li.current .icon {
  filter: none;
}

figure.profile-picture {
  width: 4.6875rem;
  height: 4.6875rem;
  border-radius: 4rem;
  background: #fff url(../img/default-user.svg) no-repeat;
  background-size: cover;
  border: 3px solid #fff;
  margin: 0 auto;
  position: relative;
}
figure.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
figure.profile-picture .btn-change-picture {
  width: 1.5rem;
  height: 1.5rem;
  background: #fff url(../img/icon-picture.svg) no-repeat;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  right: -0.1rem;
  bottom: -0.2rem;
  transition: all ease 0.25s;
}
figure.profile-picture .btn-change-picture:hover {
  transform: scale(1.2);
}

table.user-info {
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
}
table.user-info th, table.user-info td {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  vertical-align: top;
}
table.user-info th {
  font-weight: 400;
  text-align: left;
  padding-right: 1.8rem;
}
table.user-info td.suscription {
  color: #06e8d2;
  font-size: 0.875rem;
  font-weight: 700;
}
table.user-info td.suscription a {
  display: block;
  text-decoration: underline;
  color: #ff5454;
  font-size: 0.75rem;
}

.user-coins {
  text-align: center;
  background: #252c40;
  text-align: center;
  font-style: normal;
  border: 1px dotted #54648f;
  border-radius: 10px;
  padding: 1rem;
  position: relative;
}
.user-coins .coins-title {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0 0 0.3rem;
}
.user-coins .ammount {
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff200;
}
.user-coins .ammount:after {
  top: 0.07rem;
  width: 0.8em;
  height: 0.8em;
}
.user-coins > .content {
  padding: 0.4rem 0 3rem;
  max-width: 200px;
}

#user-profile .page-title {
  color: #fff200;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 1.2rem;
}
#user-profile .user-name {
  font-style: normal;
  font-size: 1.125rem;
}
#user-profile table.user-info {
  margin-bottom: 1rem;
}
#user-profile .user-coins {
  margin-bottom: 2rem;
}
#user-profile .buttons {
  margin-bottom: 1rem;
}
#user-profile .buttons h4 {
  color: #06e8d2;
  font-size: 0.875rem;
  font-style: normal;
}
#user-profile .buttons .btn {
  max-width: 100%;
  width: 100%;
  margin-bottom: 1.8rem;
}
#user-profile .logout {
  margin-bottom: 2rem;
}
#user-profile .logout a {
  color: #ff5454;
  font-style: normal;
  font-size: 0.75rem;
  font-weight: 700;
  text-decoration: underline;
}

.user-profile-premium figure.profile-picture {
  border-color: #fff200;
}
.user-profile-premium figure.profile-picture:before {
  content: "";
  width: 1.56rem;
  height: 1.56rem;
  left: calc(50% - 0.78rem);
  top: calc(-1.56rem / 2);
  display: block;
  background: #fff url(../img/icon-user-premium.svg);
  position: absolute;
  border-radius: 2rem;
}

#page-que-es-bitel {
  font-style: italic;
}
#page-que-es-bitel p, #page-que-es-bitel ul {
  font-size: 0.94rem;
  line-height: 1.5rem;
}
#page-que-es-bitel p {
  text-align: center;
}
#page-que-es-bitel .btn-cta {
  max-width: 15.63rem;
  width: 100%;
  font-weight: 700;
}
#page-que-es-bitel .slider-circle {
  margin-bottom: 2.6rem;
}

section#que-es-bitel {
  padding: 2.4rem 0 3rem;
}

section#como-funciona {
  padding: 2rem 0 2rem;
}

section#vuelvete-premium {
  padding: 3rem 0 5rem;
}
section#vuelvete-premium h2 {
  margin-bottom: 1.2rem;
}
section#vuelvete-premium h3.subtitle {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0;
}
section#vuelvete-premium p.coin-text {
  margin: 0 0 2rem;
}
section#vuelvete-premium p.coin-text .icon-bitel-coin-2 {
  margin: 0 -0.3rem;
}

section#comprar-monedas {
  padding: 0 0 5rem;
}
section#comprar-monedas h2 {
  margin-bottom: 2.4rem;
}
section#comprar-monedas h3.subtitle {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

section#canjear-monedas {
  padding: 0 0 3rem;
}
section#canjear-monedas figure {
  margin-bottom: 2.4rem;
}
section#canjear-monedas figure img {
  margin-bottom: -1em;
}
section#canjear-monedas figure figcaption {
  font-size: 13px;
}
section#canjear-monedas p {
  margin: 0 auto;
  max-width: 20rem;
  font-style: italic;
}

#vuelvete-premium h1 {
  margin-bottom: 1rem;
}
#vuelvete-premium .subscribe {
  color: #fff200;
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 1.5rem;
}
#vuelvete-premium .get-coins {
  margin-bottom: 2rem;
}
#vuelvete-premium .get-coins .with-coin:after {
  margin-right: 0.4rem;
}
#vuelvete-premium .buttons {
  position: relative;
  right: 0.35rem;
}
#vuelvete-premium .btn-plan {
  margin: 0 auto 2rem;
}
#vuelvete-premium small {
  max-width: 280px;
  display: block;
  text-align: center;
  margin: 2rem auto 0;
}

section#recompensas {
  padding-top: 2rem;
  padding-bottom: 7rem;
}
section#recompensas .tab-list {
  margin-bottom: 1.5rem;
}
section#recompensas button.tab {
  padding: 0.9rem 0.3rem;
  flex-grow: 1;
}
.card-reward {
  background-color: #1f2535;
  border-radius: 10px;
  display: block;
  height: 232px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .card-reward {
    height: 300px;
  }
}
.card-reward:before {
  content: "Imágenes referenciales";
  color: white;
  position: absolute;
  display: block;
  font-size: 0.68rem;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  top: 2rem;
  left: 0.7rem;
}
.card-reward figure {
  display: block;
  height: 100%;
  padding: 1.5rem;
}
.card-reward figure img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.card-reward .title-bar {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
}
.card-reward .price {
  background: url(../img/bg-price.svg) no-repeat;
  background-size: containe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 4.375rem;
  height: 4.375rem;
  top: 0.6rem;
  right: 0.6rem;
  color: #202f44;
}
.card-reward .price .ammount {
  font-size: 0.9rem;
  font-weight: 700;
}
.card-reward .price .coins {
  font-size: 10px;
  font-weight: 500;
}

section#tyc {
  padding: 3rem 0;
}
section#tyc h2 {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 0;
}
section#tyc p {
  font-size: 0.9375rem;
  line-height: 1.6em;
  font-style: italic;
}

#buy-coins .page-title {
  color: #fff200;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  font-style: italic;
}
#buy-coins p {
  text-align: center;
  margin-bottom: 1.4rem;
}
#buy-coins .buttons {
  max-width: 300px;
  margin: 0 auto;
}
#buy-coins .buttons .btn-next-step {
  margin-bottom: 1.3rem;
}