@import 'variables';

.bet-value{
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  background-color: $white;
  padding: .15rem .5rem;
  border-radius: 1rem;
  min-width: 50px;
  font-weight: 700;
  color: $dark-grey-blue;
  font-size: 15px;
  text-align: center;
  span{
    display: flex;
    align-items: center;
    &:after{
      content: '';
      width: .9rem;
      height: .9rem;
      display: inline-block;
      border: 1px solid $dark;
      border-radius: 1rem;
      margin-left: .2rem;
      margin-right: -.25rem;
    }
  }
}

.tip{
  &:after{
    content: '';
    font-size: .5rem;
    display: block;
    width: 1em;
    height: 1em;
    position: absolute;
    border: 1px dotted $metallic-blue;
    border-left: none;
    border-top: none;
    top: calc(-.5em - 1px);
    left: calc(50% - .5em);
    transform: rotate(45deg);
    background-color: $dark;
  }
}

.notice{
  background-color: rgba(#000, .1);
  padding: .4rem 1rem 1rem;
  border-radius: 8px;
  font-size: .75rem;
  text-align: center;
  font-style: normal;
  .with-coin{
    &:after{
      margin: 0 .4em 0 .3em;
      top: .5em;
    }
  }
  .text{
    margin-bottom: .4rem;
  }
  a{
    font-size: 13px;
    color: $teal;
    text-decoration: underline;
    &:hover{
      color: $white;
    }
  }
}

// TABLES 
.table{
  font-style: normal;
  width: 100%;
  font-size: 12px;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  border: none;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  thead{
    border-bottom: 1px solid #1f2535;
  }
  tbody{
  }
  th, td{
    text-align: center;
    vertical-align: middle;
  }
  th{
    font-weight: 600;
    padding: .55rem;
    border: none !important;
    border-collapse: collapse;
    background-color: rgba($white, .2);
  }
  td{
    font-weight: 500;
    padding: .3rem;
    background-color: rgba($white, .1);
    &:not(:last-child){
      border-right: 1px solid #1f2535;
    }
  }
  .with-coin{
    position: relative;
    top: -.25em;
    &:after{
      font-size: .85em;
      width: 1em;
      top: .8em;
    }
  }
}