@import 'variables';

*{
  box-sizing: border-box;
}
html{
  font-family: 'Exo 2', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  &.overlayed{
    position: relative;
    overflow: hidden;
  }
}
a{
  text-decoration: none;
  transition: all ease .9s;
  color: $teal;
  &:hover{
    color: #72fae8;
  }
}
p{
  font-family: 'Exo 2', sans-serif;
}

figure{
  margin: 0;
}
img{
  display: block;
  max-width: 100%;
  width: 100%;
}

/*---- COLORS -----*/
.teal{
  color: $teal;
}
.yellow{
  color: $yellow;
}
.green{
  color: $green;
}

.text-left{
  text-align: left !important;
}
.text-center{
  text-align: center !important;
}
.bg-dark{
  background-color: $dark;
}

/*---- TITLES -----*/
h1, h2, h3, h4, h5, h6{
  font-family: $font-family;
  text-align: center;
}
.featured-title{
  background-image: linear-gradient(to right, $teal, $yellow 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  font-style: italic;
  margin: 0 0 2rem;

  &.framed{
    background: url(../img/bg-featured-title.png) no-repeat;
    background-position: right bottom;
    display: inline-block;
    span{
      display: inline-block;
      border-top: none;
      border-left: none;
      padding: 0 1.3rem 1.3rem;
      background-position: right bottom;
      background-image: linear-gradient(to right, $teal, $yellow 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.gradient-text{
  background-image: linear-gradient(to right, $teal, $yellow 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtitle{
  color: yellow;
  font-style: italic;
  font-size: 1.31rem;
  margin: 0 auto 1rem;
}
ul{
  padding-left: 1.5rem;
  li{
    margin-bottom: .4rem;
  }
}
ul.list-bitel{
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    display: flex;
    margin-bottom: .8rem;
    &:before{
      content: url(../img/icon-bitel-coin.svg);
      filter: brightness(0) invert(1);
      position: relative;
      top: .2rem;
      font-style: normal;
      width: 1.75rem;
      height: 1.75rem;
      margin-right: .8rem;
    }
  }
}

button{
  cursor: pointer;
  font-family: $font-family;
}

table.article-table{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: .85rem;
  border-radius: 4px;
  border: 1px solid $metallic-blue;
  th{
    border: 1px solid $metallic-blue;
    padding: .3rem;
    text-align: left;
    background-color: $metallic-blue;
  }
  td{
    border: 1px solid $metallic-blue;
    padding: .4rem .3rem;
  }
}


/*---- LAYOUT -----*/
.hide{
  display: none !important;
}
.hide-lg{
  @media (min-width: $lg){
    display: none !important;
  }
}
.show-lg{
  display: none !important;
  @media (min-width: $lg){
    display: block !important;
  }
}
.page{
  background: $dark url(../img/bg-page-top.png) no-repeat;
  background-position: center top;
  background-size: 100% auto;
  min-height: 100vh;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
  @media (min-width: $lg){
    padding-left: $desk-menu-width;
    background: $dark url(../img/bg-page-desk-left.png) no-repeat;
    background-position: $desk-menu-width 4rem;
    background-size: 200px;
    position: relative;
    z-index: 0;
    &:after{

    }
  }
  &:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/bg-page-bottom.png) no-repeat;
    background-position: center calc(100% - 130px);
    background-size: 100%;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
    @media (min-width: $md){
      display: block;
    }
    @media (min-width: $lg){
      width: 350px;
      height: 100px;
      background: url(../img/bg-page-desk-right.png) no-repeat;
      background-size: contain;
      top: 3rem;
      right: 0;
    }
  }
  &.homepage{
    background-image: url(../img/bg-page-top-flip.png);
    background-position: center 13rem;
    @media (min-width: $md){
      background-position: center top;
      background-image: url(../img/bg-page-top.png);
    }
  }
  #footer{
    margin-top: auto;
  }
}

// Background for modals and others
.bitel-bg{
  background: $dark url(../img/bg-page-top.png) no-repeat;
  background-position: center top;
  background-size: 100% auto;
  position: relative; //
  &:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/bg-page-bottom.png) no-repeat;
    background-position: center calc(100% + 25px);
    background-size: 100%;
    bottom: 0;
    z-index: -1;
    //pointer-events: none;
  }
}
.bitel-bg-topglow{
  background: $dark url(../img/bg-hl-popup.png) no-repeat;
  background-position: center top;
  background-size: 100%;
}
.bg-waves-bottom{
  overflow: hidden;
  &:after{
    content: '';
    width: 100%;
    height: 10rem;
    display: block;
    position: absolute;
    left: 0;
    bottom: -10vw;
    pointer-events: none;
    background: url(../img/bg-page-bottom.png) no-repeat;
    background-size: contain;
    background-position: center bottom;
    z-index: 0;
    @media (min-width: $sm){
      display: none;
    }
  }
}
.container{
  max-width: $md;
  margin: 0 auto;
  padding: 0 1.5rem;
  &.container-alt{
    //max-width: 320px;
    @media (min-width: $md){
      //max-width: $md;
      max-width: 1100px;
    }
  }
  &.container-sm{
    max-width: 400px;
  }
}

.mb-1{
  margin-bottom: 1rem !important;
}
.mb-1-5{
  margin-bottom: 1.5rem !important;
}
.mb-2{
  margin-bottom: 2rem !important;
  display: block;
}
.mb-3{
  margin-bottom: 3rem !important;
}
.mt-1{
  margin-top: 1rem !important;
}
.mt-1-5{
  margin-top: 1.5rem !important;
}
.mt-2{
  margin-top: 2rem !important;
}
.mt-3{
  margin-top: 3rem !important;
}
.pb-1{
  padding-bottom: 1rem !important;
}
.pb-2{
  padding-bottom: 2rem !important;
  display: block;
}
.pb-3{
  padding-bottom: 3rem !important;
}
.pb-4{
  padding-bottom: 4rem !important;
}
.pb-5{
  padding-bottom: 5rem !important;
}

.pb-6{
  padding-bottom: 6rem !important;
}
.pt-1{
  padding-top: 1rem !important;
}
.pt-2{
  padding-top: 2rem !important;
  display: block;
}
.pt-3{
  padding-top: 3rem !important;
}
.pt-4{
  padding-top: 4rem !important;
}
.pt-5{
  padding-top: 5rem !important;
}
.pt-6{
  padding-top: 6rem !important;
}

//GRIDS

.grid{
  display: grid;
  &.rewards-grid{
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-gap: 1.3rem;
  }
  &.news-grid{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: .35rem;
  }
}

// CTA 
.cta-fixed{
  position: sticky;
  padding: 0rem 1rem 1rem;
  z-index: 50;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  .btn-cta{
    min-width: 150px;
    width: 100%;
    max-width: 216px;
    margin-left: .3rem;
    margin-right: .3rem;
  }
}

// overlay
.overlay{
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 101;
  padding: .5rem;
}
.gradient-overlay{
  position: fixed;
  height: 6rem;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95) 100%);
  bottom: 0;
  z-index: 40;
  pointer-events: none;
  opacity: .6;
}

/*---- Ads ----*/
.ad{
  img{

  }
}
.bet-list .ad{
  margin-top: 1.5rem;
  margin-bottom: -.6rem;
}