@import 'variables';

.modal-pos-table{
  .content{
    padding-top: .2rem;
  }
  .date-filter{
    margin: 0 auto 1.5rem;
  }
  .current-date{
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 1.1rem;
  }
  .pos-table{
    margin-bottom: 1.3rem;
  }
  .get-premium-text{
    font-size: .875rem;
  }
}