@import 'variables';

#buy-coins{
  .page-title{
    color: $yellow;
    font-size: 1.25rem;
    margin-bottom: 2rem;
    font-style: italic;
  }
  p{
    text-align: center;
    margin-bottom: 1.4rem;
    font-style: italic;
  }
  .buttons{
    max-width: 300px;
    margin: 0 auto;
    .btn-next-step{
      margin-bottom: 1.3rem;
    }
  }
}