@import 'variables';

section#tyc{
  padding: 3rem 0;
  h2{
    text-align: left;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 0;
  }
  p{
    font-size: .9375rem;
    line-height: 1.6em;
    font-style: italic;
  }
}