@import 'variables';

section.promo{
  //padding-left: $desk-menu-width;
}
.cta-bet-now{
  position: sticky;
  width: 210px;
  bottom: 1rem;
  left: calc(50% - 105px);
  z-index: 40;
  margin-bottom: -1.6rem;
}
.overlay-bet-now{
  width: 100vw;
  left: 0;
}

.page.homepage{
  .container{
    max-width: 1000px;
  }
}