@import 'variables';

.popup-overlay{
  overflow-y: scroll;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 1;
  transition: all ease .5s;
  padding: 0 1rem;
  &.active{
    opacity: 1;
  }
}
.popup{
  text-align: center;
  color: white;
  z-index: 50;
  height: 100%;
  margin-top: 100%;
  padding: 1.2rem 0 1.2rem;
  .btn-close-popup{
    margin-bottom: 1rem;
  }
}
.popup-box{
  position: relative;
  min-height: 16rem;
  background: $dark url(../img/bg-popup.png) no-repeat;
  background-size: contain;
  background-position: center bottom;
  padding: 2.7rem 1.2rem 2.5rem;
  border-radius: $br-lg;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  &:before{
    pointer-events: none;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bg-hl-popup.png) no-repeat;
    background-size: contain;
    background-position: center top;
  }
  /*---- INFO POPUPS ----*/
  .content{
    figure.popup-icon{
      max-width: 50px;
      margin: 0 auto;
      .popup-icon-top{
        margin-bottom: 10rem;
      }
    }
    .title{
      color: $yellow;
      font-style: italic;
      font-size: 1.25rem;
      margin-bottom: 0;
    }
    .text{
      font-style: italic;
      font-weight: 500;
    }
    small{
      font-style: italic;
    }
  }
  .btn-cta{
    max-width: 260px;
    width: 100%;
  }
  .options{
    &.two{
      display: flex;
      .btn-cta{
        min-width: auto;
        &:first-child{
          margin-right: .6rem;
        }
      }
    }
  }
}
.table-purchase-info{
  display: flex;
  background-color: #1f2535;
  border: 1px solid $metallic-blue;
  border-radius: $br-md;
  font-style: italic;
  text-align: left;
  font-size: 14px;
  .left{
    padding: 1rem .4rem 1rem .7rem;
    border-right: 1px solid $metallic-blue;
    width: 50%;
  }
  .right{
    padding: 1rem .7rem;
    width: 50%;
  }
  .heading{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: .3rem;
    text-align: left;
    letter-spacing: -.005em;
  }
  .name{
    font-weight: 800;
  }
  .price{
    font-weight: 800;
    color: $yellow;
  }
}

#login{
  .popup-box{
    padding: 2rem 1rem 2.5rem;
  }
  .content{
    max-width: 250px;
    margin: 0 auto;
  }
  h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: .8rem;
  }
  .logo-bitel{
    display: block;
    margin: 0 auto 1.5rem;
    filter: brightness(0) invert(1);
    width: 4.9375rem;
  }
  .btn-register{
    width: 100%;
  }
}

/*---- MODALS ----*/
.modal{
  display: flex;
  flex-direction: column;
  position: fixed;
  font-style: italic;
  width: 100%;
  height: 100%;
  background-color: $dark;
  z-index: 50;
  padding: 1rem;
  &:after{
    @media (min-width: $md){
      display: none;
    }
  }
  .btn-close-popup{
    align-self: flex-end;
  }
  .title{
    font-weight: 500;
    font-size: 1rem;
    margin: 0 0 1.5rem 0;
  }
  .content{
    max-width: 400px;
    margin: 0 auto;
    padding-top: 3rem;
  }
}
#welcome{
  .logo{
    max-width: 100px;
    margin: 0 auto 2rem;
  }
  p{
    text-align: center;
    margin-bottom: 1.4rem;
  }
  .buttons{
    max-width: 300px;
    margin: 0 auto;
    .btn-next-step{
      margin-bottom: 1.3rem;
    }
  }
}