// Colors
$yellow: #fff200;
$maize: #efd146;
$teal: #06e8d2;
$green: #a2ff72;
$deep-teal: #00a5b1;
$red: #ff5454;
$lavender: #d166ff;
$dark: #2a3248;
$dark-grey-blue: #323d59;
$darker-grey-blue: #202f44;
$metallic-blue: #54648f;
$blue-grey: #8c95ad;
$white: #fff;
$text: white;
$warning: $maize;
$error: $red;

$primary: $red;
$secondary: $dark;

$desk-menu-width: 5.625rem;

// Breakpoints
$xs: 380px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
 
// borer radius
$br-lg: 20px;
$br-md: 10px;
$br-sm: 5px;

// Fonts
$font-family: 'Exo 2', sans-serif;